header.header
  .header__container.container
    .header__logo.header__logo--ms(data-aos="fade")
      img(src="images/m&s-logo.png", srcset="images/m&s-logo.png 2x", width="253", height="145", alt="Marks & Spencer logotip")
    .header__logo.header__logo--w(data-aos="fade")
      img(src="images/w-logo.svg", width="254", height="59", alt="Woman.ru logotip")

