.fact {
  padding: 14px 40px 37px;
  border: solid 1px $pinkish3;
  border-radius: 15px;

  @include max(xxl) {
    padding: vw(14) vw(40) vw(37);
    border-radius: vw(15);
  }

  @include max(sm) {
    padding: vw(15, 414) vw(24, 414) vw(20, 414);
    border-radius: vw(15, 414);
  }

  &__title {
    margin: 0 0 20px;
    text-align: center;

    @include max(xxl) {
      margin: 0 0 vw(20);
    }

    @include max(sm) {
      margin: 0 0 vw(20, 414);
    }
  }

  &__text {
    text-align: center;
    font-weight: 700;

    @include max(sm) {
      font-size: vw(18, 414);
      line-height: vw(21, 414);
    }
  }
}
