.hero {
  position: relative;
  padding-top: 76px;
  padding-bottom: 316px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;
  background-image: url("../images/hero/hero-bg.png");

  @include max(xxl) {
    padding-top: vw(76);
    padding-bottom: vw(316);
  }

  @include retina {
    background-image: url("../images/hero/hero-bg@2x.png");
  }

  @include max(sm) {
    padding-top: vw(226, 414);
    padding-bottom: vw(28, 414);
    background-image: url("../images/hero/hero-bg-mobile.jpg");

    @include retina {
      background-image: url("../images/hero/hero-bg-mobile@2x.jpg");
    }
  }

  &__table-bg {
    position: absolute;
    top: vw(466);
    right: 0;
    content: "";
    width: vw(747);
    pointer-events: none;

    @include max(sm) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0; //52.3%;
      left: 0; //30.7%;
      width: 100%; //vw(101);
      height: 100%; //vw(241); //vw(110);
      background-repeat: no-repeat;
      background-image: url("../images/hero/text2.png");
      background-size: 100% auto;
      //filter: invert(1);
      //opacity: 0.5;
      animation: neon-3 5s steps(1, start) infinite reverse;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -60px;
      transform: translateY(100%);
      width: 4px;
      height: 271px;
      margin-left: -2px;
      background-image: linear-gradient(to left, $brown 50%, $gold 50%);

      @include max(xxl) {
        width: vw(4);
        height: vw(271);
        bottom: vw(-60);
        margin-left: vw(-2);
      }

      @include max(sm) {
        width: vw(4, 414);
        height: vw(271, 414);
        bottom: vw(144, 414);
        margin-left: vw(-2, 414);
      }
    }
  }

  &__title {
    position: relative;
    z-index: 0;
    max-width: 858px;
    margin: 0 auto 65px;
    padding: 53px 12px 54px;
    color: $green-52;
    text-align: center;
    letter-spacing: 0;
    border-radius: 5px;
    background-color: $grey-e6;

    @include max(xxl) {
      max-width: vw(858);
      margin-bottom: vw(65);
      padding: vw(53) vw(12) vw(54);
      font-size: vw(48);
      border-radius: vw(5);
    }

    @include max(sm) {
      max-width: none;
      margin-bottom: vw(15, 414);
      padding: vw(15, 414) vw(20, 414) vw(18, 414);
      font-size: vw(42, 414);
      line-height: 0.9;
      border-radius: vw(5, 414);
    }

    span {
      color: $green-73;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 11px;
      left: 11px;
      right: 11px;
      bottom: 13px;
      border: solid 3px $green-52;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: $pinkish2;

      @include max(xxl) {
        top: vw(11);
        left: vw(11);
        right: vw(11);
        bottom: vw(13);
        border-width: vw(3);
        box-shadow: 0px vw(4) vw(4) rgba(0, 0, 0, 0.25);
      }

      @include max(sm) {
        top: vw(8, 414);
        left: vw(5, 414);
        right: vw(5, 414);
        bottom: vw(8, 414);
        border-width: vw(2, 414);
        box-shadow: 0px vw(4, 414) vw(4, 414) rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__go-to-history {
    position: absolute;
    z-index: 2;
    //top: 258px;
    //right: 200px;
    //width: 99px;
    overflow: hidden;
    //border-radius: 28px 21px 24px 20px;

    //@include max(xxl) {
    //top: vw(258);
    //right: vw(200);
    //width: vw(99);
    top: 22.6%;
    right: 11.6%;
    width: 5.21%;
    border-radius: vw(28) vw(21) vw(24) vw(20);
    //}

    @include max(sm) {
      display: none;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__button {
    position: absolute;
    z-index: 0;
    top: 20px;
    left: -172px;
    display: flex;
    flex-direction: column;
    width: 216px;
    height: 216px;
    padding: 37px 10px 42px;
    border-radius: 50%;
    background-color: $pink;
    text-decoration: none;
    transition: opacity 0.4s ease, transform 0.3s ease;

    &.opacity-0 {
      opacity: 0;
    }

    &.is-shifted {
      transform: translateY(-300px);
    }

    &.is-fixed {
      position: fixed;
      z-index: 3;
      top: 46px;
      left: 46px;

      transform: scale(0.8);
    }

    &.is-fixed.is-shifted {
      transform: translateY(-300px) scale(0.8);
    }

    &:hover {
      transform: scale(1.1) !important;
    }

    @include max(xxl) {
      top: vw(20);
      left: vw(-172);
      width: vw(216);
      height: vw(216);
      padding: vw(37) vw(10) vw(42);
    }

    @include max(sm) {
      position: relative;
      top: 0;
      left: vw(20, 414);
      width: vw(144, 414);
      height: vw(144, 414);
      padding: vw(25, 414) vw(5, 414) vw(20, 414);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 262px;
      height: 262px;
      transform: translateX(-50%) translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/hero/hero-btn.svg");

      @include max(xxl) {
        width: vw(262);
        height: vw(262);
      }

      @include max(sm) {
        width: vw(190, 414);
        height: vw(190, 414);
      }
    }

    &::after {
      content: "";
      display: block;
      width: 57px;
      height: 5px;
      margin-top: 9px;
      background-color: $dark;
      align-self: center;

      @include max(xxl) {
        width: vw(57);
        height: vw(5);
        margin-top: vw(9);
      }

      @include max(sm) {
        width: vw(38, 414);
        height: vw(3, 414);
        margin-top: vw(5, 414);
      }
    }

    &-title {
      margin-bottom: 3px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      color: $dark;
      letter-spacing: 0;
      text-transform: uppercase;
      text-align: center;
      align-self: center;

      @include max(xxl) {
        margin-bottom: vw(3);
        font-size: vw(18);
        line-height: vw(24);
      }

      @include max(sm) {
        margin-bottom: vw(6, 414);
        font-size: vw(15, 414);
        line-height: vw(24, 414);
      }
    }

    &-text {
      font-size: 21px;
      line-height: 24px;
      font-weight: 700;
      color: $dark;
      letter-spacing: 0;
      text-transform: uppercase;
      text-align: center;
      align-self: center;

      @include max(xxl) {
        font-size: vw(21);
        line-height: vw(24);
      }

      @include max(sm) {
        font-size: vw(14, 414);
        line-height: vw(18, 414);
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    max-width: 858px;
    margin: 0 auto 65px;
    padding: 48px 46px 55px 67px;

    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.01em;
    font-weight: 400;
    text-align: center;

    background-color: rgba(16, 53, 40, 0.35);
    border-radius: 5px;

    @include max(xxl) {
      max-width: vw(858);
      margin-bottom: vw(65);
      padding: vw(48) vw(46) vw(55) vw(67);

      font-size: vw(21);
      line-height: vw(24);
      border-radius: vw(5);
    }

    @include max(sm) {
      max-width: none;
      margin-bottom: 0;
      padding: vw(25, 414) vw(20, 414) vw(25, 414) vw(30, 414);

      font-size: vw(16, 414);
      line-height: vw(18, 414);
      border-radius: vw(5, 414);
    }

    .short {
      max-width: 580px;
      margin-left: auto;
      margin-right: auto;

      @include max(xxl) {
        max-width: vw(580);
      }

      @include max(sm) {
        max-width: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 13px;
      left: 11px;
      right: 11px;
      bottom: 12px;
      border: solid 5px #223529;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: rgba(105, 93, 80, 0.25);

      @include max(xxl) {
        top: vw(13);
        left: vw(11);
        right: vw(11);
        bottom: vw(12);
        border-width: vw(3);
        box-shadow: 0px vw(4) vw(4) rgba(0, 0, 0, 0.25);
      }

      @include max(sm) {
        top: vw(5, 414);
        left: vw(5, 414);
        right: vw(5, 414);
        bottom: vw(5, 414);
        border-width: vw(2, 414);
        box-shadow: 0px vw(4, 414) vw(4, 414) rgba(0, 0, 0, 0.25);
      }
    }

    p + p {
      margin-top: 24px;

      @include max(xxl) {
        margin-top: vw(24);
      }
      @include max(sm) {
        margin-top: vw(20, 414);
      }
    }

    b {
      font-weight: 600;
    }
  }
}

@keyframes neon-3 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  83% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
