section.comfort
  .comfort__container.container
    h2.comfort__title.title(data-aos="fade-up") Максимальный комфорт
    
    .comfort__text(data-aos="fade-up") В то время как романтичное и сексуальное нижнее белье остается идеальным вариантом для особых случаев, на арену выходят новые максимально комфортные модели бра и трусиков. Специалисты <a href="http://pubads.g.doubleclick.net/gampad/clk?id=5813485185&iu=/81006599/hmiru-woman-media/desktop/count" target="_blank">Marks & Spencer</a> прилагают максимум усилий, чтобы внедрить в производство новые технологичные материалы. Логичным продолжением моды на комфорт становится линия FlexiFit, в которую вошли максимально удобные бюстгальтеры без косточек и трусы. Для сна, для занятий спортом, на каждый день — в любой модели линии использована специальная технология, обеспечивающая четырехстороннее растяжение и идеальную посадку. Белье из этой линии сидит как вторая кожа.

    .comfort__image(data-aos="fade-up")
      img(src="images/comfort/main.jpg", srcset="images/comfort/main@2x.jpg 2x", width="686", height="474", alt="")