section.evolution
  .evolution__container.container
    h2.evolution__title.title(data-aos="fade-up") Эволюция белья от Marks & Spencer
    .evolution__text(data-aos="fade-up") Бренд сделал все, чтобы каждая женщина смогла подобрать себе идеальный комплект белья вне зависимости от размера, образа жизни, возраста, комплекции и модных предпочтений. Marks & Spencer прошел долгий путь, чтобы стать настоящим экспертом в сфере нижнего белья.

    section.evolution__section.evolution__section--bra
      .evolution__section-line
      .evolution__section-main(data-aos="fade-right")
        h3.evolution__section-title.title.title--small Первый бра 
        .evolution__section-text Самый первый бюстгальтер был выпущен брендом в 1926 году. Главной его функцией было не просто поддерживать грудь, а скрывать ее объем. Причина тому — стандарты красоты того времени: в 20-х в моду вошли мальчишеские женские фигуры без явных изгибов и линий. 

        +fact('В 30–40-х годах одним из самых популярных материалов для пошива нижнего белья был искусственный шелк, который выглядел более роскошно, чем привычный многим хлопок или лен, но при этом был дешевле натурального шелка. Он создавался из синтетических волокон и целлюлозы.', 'evolution__section-fact')
         
      .evolution__section-aside(data-aos="fade-left")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/bra.jpg", srcset="images/evolution/bra@2x.jpg 2x", width="470", height="708", alt="")

    section.evolution__section.evolution__section--reverse.evolution__section--bra-2
      .evolution__section-line
      .evolution__section-main(data-aos="fade-left")
        h3.evolution__section-title.title.title--small Идеальная фигура
        .evolution__section-text В первые годы существования бельевой линии Marks & Spencer делал ставку на корректирующие функции бюстов, панталон и корсетов, обещая в рекламе «гарантированно идеальную фигуру». Однако к 1939 году ассортимент бренда расширился: к примеру, в нем уже было около 30 вариантов бюстгальтеров различных фасонов.

        +fact('Первые примерочные в магазинах бренда были открыты только в 70-х. До этого времени с выбором нижнего белья помогали специально обученные продавцы, которые снимали с покупательниц подробные мерки прямо в зале магазина.', 'evolution__section-fact')
         
      .evolution__section-aside(data-aos="fade-right")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/bra-2.png", srcset="images/evolution/bra-2@2x.png 2x", width="648", height="557", alt="")

    section.evolution__section.evolution__section--individual-approach
      .evolution__section-line
      .evolution__section-main(data-aos="fade-right")
        h3.evolution__section-title.title.title--small Индивидуальный подход 
        .evolution__section-text В начале 50-х годов Marks & Spencer вдохновился американскими ретейлерами и начал продавать бюстгальтеры с различным объемом чашек: маленькая, большая и средняя. До этого времени в ассортименте существовал лишь один размер. Нововведение было встречено с энтузиазмом: в 1953 году марка продавала 125 тысяч бра в неделю. Успех был связан еще и с тем, что Marks & Spencer начал создавать белье для молодых женщин и подростков.
         
      .evolution__section-aside(data-aos="fade-left")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/individual-approach-1.jpg", srcset="images/evolution/individual-approach-1@2x.jpg 2x", width="460", height="752", alt="")
        .evolution__section-image.evolution__section-image--two
          img(src="images/evolution/individual-approach-2.jpg", srcset="images/evolution/individual-approach-2@2x.jpg 2x", width="382", height="515", alt="")

    section.evolution__section.evolution__section--reverse.evolution__section--more-perfect
      .evolution__section-line
      .evolution__section-main(data-aos="fade-left")
        h3.evolution__section-title.title.title--small Еще идеальнее 
        .evolution__section-text В 50-х и 60-х дизайнеры бренда начали активно развивать направление корректирующего белья. Акцент был сделан не только на эстетическую составляющую, но и на комфорт. Бренд осваивал новые технологии и экспериментировал с материалами. Благодаря этому в линии появились удобные модели поясов из стрейчевой сетки и лайкры, полностью литые нейлоновые корсеты, а также бюстгальтеры с поролоновыми вставками.
         
      .evolution__section-aside(data-aos="fade-right")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/even-more-perfect.jpg", srcset="images/evolution/even-more-perfect@2x.jpg 2x", width="516", height="602", alt="")

    section.evolution__section.evolution__section--comfort
      .evolution__section-line
      .evolution__section-main(data-aos="fade-right")
        h3.evolution__section-title.title.title--small Комфорт 
        .evolution__section-text Постоянное ношение бра создавало дискомфорт и неприятные ощущения, поэтому дизайнеры бренда постоянно работали над улучшением моделей, чтобы сделать носку более приятной. Благодаря их стараниям в 1964 году бренд выпустил в продажу бюстгальтеры с эластичными регулируемыми лямками, которые обеспечивали и комфорт, и качественную поддержку груди.
         
      .evolution__section-aside(data-aos="fade-left")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/comfort-1.jpg", srcset="images/evolution/comfort-1@2x.jpg 2x", width="500", height="445", alt="")
        .evolution__section-image.evolution__section-image--two
          img(src="images/evolution/comfort-2.jpg", srcset="images/evolution/comfort-2@2x.jpg 2x", width="294", height="764", alt="")

    section.evolution__section.evolution__section--reverse.evolution__section--bra-combination
      .evolution__section-line
      .evolution__section-main(data-aos="fade-left")
        h3.evolution__section-title.title.title--small Бюстгальтер-комбинация 
        .evolution__section-text В то же время Marks & Spencer выпускает интересный вариант нижнего белья, вдохновленный парижским стилем, — бра, соединенное с комбинацией. Женщины пришли в восторг от новинки, и она стала самой продаваемой моделью нижнего белья 60-х годов. Комбинация была удобна еще и тем, что ее можно было носить с платьями и юбками модной длины мини.
         
      .evolution__section-aside(data-aos="fade-right")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/bra-combination-1.jpg", srcset="images/evolution/bra-combination-1@2x.jpg 2x", width="492", height="718", alt="")
        .evolution__section-image.evolution__section-image--two
          img(src="images/evolution/bra-combination-2.jpg", srcset="images/evolution/bra-combination-2@2x.jpg 2x", width="362", height="577", alt="")
    
    section.evolution__section.evolution__section--belts-panties
      .evolution__section-line
      .evolution__section-main(data-aos="fade-right")
        h3.evolution__section-title.title.title--small Пояса-трусики 
        .evolution__section-text Популярный в 60-х вид нижнего белья, объединяющий в себе высокие трусики и пояс для чулок. Трусики выпускались в сотнях расцветок и узоров, а также имели три степени поддержки — от легкой до жесткой. Тема коррекции фигуры все еще была актуальна. Однако ближе к 70-м годам контроль за недостатками фигуры становится все меньше и практически сходит на нет — в повседневный обиход входят кружевные и хлопковые трусы без корректирующих функций.

      .evolution__section-aside(data-aos="fade-left")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/belts-panties.jpg", srcset="images/evolution/belts-panties@2x.jpg 2x", width="485", height="642", alt="")

    section.evolution__section.evolution__section--reverse.evolution__section--new-era
      .evolution__section-line
      .evolution__section-main(data-aos="fade-left")
        h3.evolution__section-title.title.title--small Новая эра бра 
        .evolution__section-text Этот бюстгальтер стал бестселлером в 1972 году: всего за полтора года его существования бренд продал миллион экземпляров. Секрет успеха прост: дизайнеры убрали подкладку, сделав бра очень тонким и практически прозрачным, при этом сохранив поддерживающие функции.
         
      .evolution__section-aside(data-aos="fade-right")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/new-era-bra.jpg", srcset="images/evolution/new-era-bra@2x.jpg 2x", width="582", height="676", alt="")
    
    section.evolution__section.evolution__section--sports-attitude
      .evolution__section-line
      .evolution__section-main(data-aos="fade-right")
        h3.evolution__section-title.title.title--small Спортивный настрой 
        .evolution__section-text На 80-е годы Европа и Америка «заболели» спортом, а в моду вошли подтянутые стройные фигуры, шейпинг и естественные расслабленные линии в одежде. Marks & Spencer быстро уловил новую тенденцию и выпустил свою первую линию спортивного белья, которое подходило для любых видов тренировок. 

      .evolution__section-aside(data-aos="fade-left")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/sports-attitude-1.jpg", srcset="images/evolution/sports-attitude-1@2x.jpg 2x", width="329", height="618", alt="")
        .evolution__section-image.evolution__section-image--two
          img(src="images/evolution/sports-attitude-2.jpg", srcset="images/evolution/sports-attitude-2@2x.jpg 2x", width="480", height="449", alt="")
    
    section.evolution__section.evolution__section--reverse.evolution__section--wedding-underwear
      .evolution__section-line
      .evolution__section-main(data-aos="fade-left")
        h3.evolution__section-title.title.title--small Свадебное белье 
        .evolution__section-text Прежде чем создать в 90-х первую свадебную коллекцию белья, сотрудники Marks & Spencer опросили более 500 невест. Итогом такой кропотливой исследовательской работы стала женственная и нежная линия без лишних кричащих деталей.
         
      .evolution__section-aside(data-aos="fade-right")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/wedding-underwear.jpg", srcset="images/evolution/wedding-underwear@2x.jpg 2x", width="497", height="581", alt="")
    
    section.evolution__section.evolution__section--special-bra
      .evolution__section-line
      .evolution__section-main(data-aos="fade-right")
        h3.evolution__section-title.title.title--small Особенный бюстгальтер 
        .evolution__section-text В начале нулевых бренд создал модели послеоперационного бюстгальтера, но в 2006 году полностью пересмотрел линейку. Новое белье было создано после консультаций с женщинами, которые перенесли полную и частичную мастэктомию. Часть средств с продажи каждого бра была направлена в благотворительный фонд по борьбе с раком молочной железы.
         
      .evolution__section-aside(data-aos="fade-left")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/special-bra-1.jpg", srcset="images/evolution/special-bra-1@2x.jpg 2x", width="500", height="700", alt="")
        .evolution__section-image.evolution__section-image--two
          img(src="images/evolution/special-bra-2.jpg", srcset="images/evolution/special-bra-2@2x.jpg 2x", width="368", height="491", alt="")

    section.evolution__section.evolution__section--reverse.evolution__section--smart-underwear
      .evolution__section-line
      .evolution__section-main(data-aos="fade-left")
        h3.evolution__section-title.title.title--small Умное белье 
        .evolution__section-text В 2010-х специалисты Marks & Spencer стали разрабатывать максимально функциональное белье, решающее сразу несколько важных задач. Так, например, в линейку корректирующего белья вошла длинная модель трусов-слимеров, в состав ткани которой входил витамин Е, алое вера и кофеин — для антицеллюлитного и увлажняющего действия. Другим ноу-хау бренда стала линия белья The Perfect Poise для поддержания правильной осанки.

      .evolution__section-aside(data-aos="fade-right")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/smart-underwear-1.jpg", srcset="images/evolution/smart-underwear-1@2x.jpg 2x", width="410", height="581", alt="")
        .evolution__section-image.evolution__section-image--two
          img(src="images/evolution/smart-underwear-2.jpg", srcset="images/evolution/smart-underwear-2@2x.jpg 2x", width="365", height="502", alt="")
    
    section.evolution__section.evolution__section--rosie
      .evolution__section-line
      .evolution__section-main(data-aos="fade-right")
        h3.evolution__section-title.title.title--small С любовью, Рози
        .evolution__section-text В 2012 году Рози Хантингтон-Уайтли создала свою первую коллекцию нижнего белья в коллаборация с Marks & Spencer. Линия получилась женственной, сексуальной, с легким налетом ретро, а потому пользовалась огромной популярностью у женщин. Рози создает белье и одежду для дома по сей день. Сотрудничество бренда с супермоделью считается одной из самых продолжительных звездных коллабораций за всю историю моды.
         
      .evolution__section-aside(data-aos="fade-left")
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/rosie-1.jpg", srcset="images/evolution/rosie-1@2x.jpg 2x", width="462", height="616", alt="")
        .evolution__section-image.evolution__section-image--two
          img(src="images/evolution/rosie-2.jpg", srcset="images/evolution/rosie-2@2x.jpg 2x", width="410", height="514", alt="")

    //-/////////////////////////////
    //-section.evolution__section.evolution__section--bandage
      .evolution__section-main
        h3.evolution__section-title.title.title--small Повязка 
        .evolution__section-text 
         
      .evolution__section-aside
        .evolution__section-image.evolution__section-image--one
          img(src="images/evolution/bandage-1.jpg", srcset="images/evolution/bandage-1@2x.jpg 2x", width="490", height="694", alt="")
        .evolution__section-image.evolution__section-image--two
          img(src="images/evolution/bandage-2.jpg", srcset="images/evolution/bandage-2@2x.jpg 2x", width="547", height="380", alt="")