section.hero 
  .hero__container.container
    h1.hero__title.title(data-aos="fade-up" data-aos-delay="400") Нижнее белье: <span>эволюция</span>
    
    .hero__main
      .hero__text(data-aos="fade-up" data-aos-delay="800")
        p История нижнего белья насчитывает сотни лет, но именно в XX веке оно обрело особое значение, став сначала символом угнетения женщины, а позже — ее свободы. В этом году исполняется 95 лет с тех пор, как британский бренд <b>Marks & Spencer</b> продал свой первый бюстгальтер. Именно с этого момента началась стремительная эволюция нижнего белья, ведь с каждой новой коллекцией марка совершенствовала материалы, крой и посадку. Как дизайнерам <b>Marks & Spencer</b> удалось влюбить в свои творения больше 30 миллионов женщин по всему миру?

        p.short Чтобы прояснить ситуацию, мы изучили архивы и&nbsp;немного покопались в истории.

        p Автор: Настя Обухова-Реми

      a.hero__button(href="quiz.html", data-aos="fade")
        span.hero__button-title тест
        span.hero__button-text Как выглядит ваш идеальный комплект белья?