section.history
  .history__container.container
    h2.history__title.title(data-aos="fade-up") Каким было нижнее белье раньше
    .history__text(data-aos="fade-up") Нижнее белье — это не просто куски ткани, закрывающие тело. По истории его трансформаций можно отследить события в мире, изменения, происходящие в социуме, моду и роль женщины в обществе. У каждой исторической эпохи есть свой символ, воплотившийся в форме нижнего белья. Видов нижнего белья на протяжении веков было несколько, но главными героями в той или иной вариации всегда оставались одни и те же предметы.

    section.history__section.history__section--bandage
      .history__section-line
      .history__section-main(data-aos="fade-right")
        h3.history__section-title.title.title--small Повязка 
        .history__section-text Не только набедренная, как в Древнем Египте, но и нагрудная. В ту или иную эпоху повязки выполнялись из разных материалов и часто служили различным целям. Первое примитивное белье прикрывало тело от посторонних глаз. В Древнем Риме женщины использовали кожаные набедренные и нагрудные повязки для занятий спортом — такое облачение сильно напоминало современные комплекты нижнего белья. Тогда же женщинам навязывались жесткие стандарты красоты: чтобы выглядеть стройнее и спрятать формы, им приходилось плотно обматывать грудь и бедра широкими лентами изо льна.

        +fact('Набедренная повязка считается прообразом трусов-танга. Впервые с древних времен этот вид нижнего белья был использован в 1939 году по приказу мэра Нью-Йорка, который попросил танцовщиц городских клубов прикрывать интимные места трусами, состоящими из двух тонких полосок ткани.', 'history__section-fact')(data-aos="fade-right")
         
      
      .history__section-aside
        .history__section-image.history__section-image--one(data-aos="fade-left")
          img(src="images/history/bandage-1.jpg", srcset="images/history/bandage-1@2x.jpg 2x", width="490", height="694", alt="")
        .history__section-image.history__section-image--two(data-aos="fade-left")
          img(src="images/history/bandage-2.jpg", srcset="images/history/bandage-2@2x.jpg 2x", width="547", height="380", alt="")

    section.history__section.history__section--reverse.history__section--shirt
      .history__section-line
      .history__section-main(data-aos="fade-left")
        h3.history__section-title.title.title--small &nbsp;Сорочка
        .history__section-text Основной вид нижнего белья, популярный в Средневековье и в эпоху Возрождения. Сначала нижняя рубашка, длинная и плотная, имела исключительно практическую функцию: защищать тело от погодных условий, грязи и посторонних глаз. В эпоху Возрождения сорочка превратилась в предмет роскоши — ее стали украшать шнуровкой и искусной вышивкой золотыми нитями. Нательная рубашка была практически единственным видом женского белья вплоть до начала XIX века. Правда исподнее оно напоминало в последнюю очередь: тонкие муслиновые платья с открытыми плечами и изящной отделкой выглядели по-настоящему роскошно и помпезно.

      .history__section-aside
        .history__section-image.history__section-image--one(data-aos="fade-right")
          img(src="images/history/shirt.jpg", srcset="images/history/shirt@2x.jpg 2x", width="445", height="665", alt="")
        .history__section-image.history__section-image--two(data-aos="fade-right")
          img(src="images/history/shirt-2.jpg", srcset="images/history/shirt-2@2x.jpg 2x", width="345", height="477", alt="")
    
    section.history__section.history__section--pantaloons
      .history__section-line
      .history__section-main(data-aos="fade-right")
        h3.history__section-title.title.title--small Панталоны 
        .history__section-text С развитием текстильного производства в XIX веке появилось все больше видов нижнего белья. Теперь это не только сорочки и рубашки, но и панталоны, которые также выполнялись из дорогой ткани, имели пышный декор и доходили женщине до пят. Со временем их длина в угоду моде укоротилась. Панталоны — одна из первых вещей, которая перекочевала в женский гардероб из мужского.
         
      .history__section-aside
        .history__section-image.history__section-image--one(data-aos="fade-left")
          img(src="images/history/pantaloons.jpg", srcset="images/history/pantaloons@2x.jpg 2x", width="451", height="664", alt="")
    
    section.history__section.history__section--reverse.history__section--corset
      .history__section-line
      .history__section-main(data-aos="fade-left")
        h3.history__section-title.title.title--small Корсет 
        .history__section-text Изначально корсет не имел ничего общего с нижним бельем, а был составной частью женского костюма. В XVI–XVIII веках он имел исключительно декоративную функцию: создавал прямую форму корсажа, был основой для драгоценностей и поддерживал тяжелые юбки, равномерно распределяя их вес на торс и плечи. Ближе к концу XIX века появляется тот самый корсет, утягивающий тело, корректирующий силуэт и деформирующий внутренние органы. С началом века прогресса корсет стал еще более затейливым: он доходил практически до колен и формировал S-образную женскую фигуру. Главная его функция состояла в том, чтобы придать телу идеальные и, как это ни парадоксально, естественные очертания — вновь в угоду стандартам 
         
      .history__section-aside
        .history__section-image.history__section-image--one(data-aos="fade-right")
          img(src="images/history/corset.jpg", srcset="images/history/corset@2x.jpg 2x", width="438", height="622", alt="")

    section.history__section.history__section--bra
      .history__section-line
      .history__section-main(data-aos="fade-right")
        h3.history__section-title.title.title--small Бюстгальтер 
        .history__section-text Его изобрели в самом начале XX века, но популярность он обрел лишь спустя годы. Самый похожий на современный вариант бра был придуман в 1910 году американкой Мэри Фэлпс Джейкобс, которая пришила два носовых платка к мужскому галстуку. Популярность же пришла к бюстгальтеру только в 1930-х годах.

        +fact('Человечество все еще не может решить, кому именно принадлежит изобретение бюстгальтера. Французы приписывают это своей соотечественнице Эрмине Кадоль, немцы — Кристине Хардт, а американцы — Мэри Джейкобс. Все три женщины придумали его практически одновременно.', 'history__section-fact')(data-aos="fade-right")
         
      .history__section-aside
        .history__section-image.history__section-image--one(data-aos="fade-left")
          img(src="images/history/bra.png", srcset="images/history/bra@2x.png 2x", width="550", height="851", alt="")

    



