.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding-top: 90px;

  @include max(xxl) {
    padding-top: vw(90);
  }

  @include max(sm) {
    padding-top: vw(29, 414);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1824px;

    @include max(xxl) {
      max-width: vw(1824);
    }

    @include max(xxl) {
      max-width: none;
    }

    & > * {
      align-self: center;
    }
  }

  &__logo {
    &--ms {
      width: 253px;
      margin-left: 21px;

      @include max(xxl) {
        width: vw(253);
        margin-left: vw(21);
      }

      @include max(sm) {
        width: vw(144, 414);
        margin-left: vw(19, 414);
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &--w {
      width: 254px;
      margin-top: -22px;

      @include max(xxl) {
        width: vw(254);
        margin-top: vw(-22);
      }

      @include max(sm) {
        width: vw(149, 414);
        margin-top: vw(-27, 414);
        margin-right: vw(20, 414);
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
