html {
}
body {
  font-family: $mainFont;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: $textMainColor;
  background-color: $dark;

  @include max(xxl) {
    font-size: vw(18);
    line-height: vw(21);
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;

  @include max(xxl) {
    max-width: vw(1400);
    padding: 0 vw(15);
  }

  @include max(sm) {
    max-width: none;
    padding: 0 vw(20, 414);
  }
}
