extends ../layouts/default

block vars
	-
		const page = {
			title: 'Marks & Spencer'
		};

block main
	include ../modules/hero
	include ../modules/history
	include ../modules/evolution
	include ../modules/comfort