extends ../layouts/default

block vars
	-
		const page = {
			title: 'Marks & Spencer'
		};

block main
	include ../modules/hero
	include ../modules/history
	include ../modules/evolution
	include ../modules/comfort

	//-.test-promise
		- let i = 4;
		while i--
			img(src="", width="200", height="200", data-src="https://picsum.photos/seed/picsum/200/200" alt="какая-то картинка")